.icon-location-pin {
  float: right;
}

.icon-star {
  cursor: pointer;
  font-size: 23px;
}

.isFavorite {
  background: red;
}

.type-image {
  width: 70px;
}

td {
  &.type, &.favorites {
    text-align: center;
  }
}

