.icon-location-pin {
  float: right;
}

.fa-star {
  cursor: pointer;
  font-size: 23px;
}

.isFavorite {
  color: #ffd91d;
}

.type-image {
  width: 70px;
}

td {
  &.type, &.favorites {
    text-align: center;
  }
}

